li {
    cursor: pointer; /*changes default cursor to the pointer*/
}

li:hover {
    text-decoration: underline; /*underlines list items*/
}

#box{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    background-color: hotpink;
    
}